body {
  font-family: Menlo, monospace;
  background-color: skyblue;
}

#parent-container {
  border: 1px solid black;
  width: 95vw;
  height: 95vh;
}

#left-half, #right-half {
  height: 95vh;
  padding: 0;
}

#left-half {
  border: 1px dashed gold;
}

#right-half {
  border: 1px dotted red;
}

#form-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#main-input {
  border: 0;
  padding: 1.0vh 0;
  width: 100%;
  outline: none;
  height: 5vh;
}

#messages-wrapper {
  overflow-y: scroll;
  height: 90vh;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

li.via-echo {
  color: white;
}

li.via-message {
  color: black;
}

li.via-whisper {
  color: magenta;
}

li.via-broadcast {
  color: yellow;
}

li.unknown-message-data-type {
  color: firebrick;
}

/*

#messages li {
  padding: 1vh 1.5vw;
}

#messages li:nth-child(odd) {
  background-color: #pink;
}
*/
