/* Suggested (message) color scheme
 * Pinkish-red: #FF5F5F
 * Blue: #587AF0
 * Purple: #AF5FAF
 * Orange: #FFAF5F
 * Pink: #FF87D7
 * Green: #65C78E
 */


body {
  font-family: Menlo, monospace;
  background-color: black;
  color: white;
}

#parent-container {
  border: 1px solid grey;
  width: 95vw;
  height: 95vh;
}

#left-half, #right-half {
  height: 95vh;
  padding: 0;
}

#left-half {
  border: 1px dashed gold;
}

#right-half {
  border: 1px dotted red;
}

#form-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#main-input {
  border: 0;
  padding: 1.0vh 0;
  width: 100%;
  outline: none;
  height: 5vh;
  color: black;
}

#messages-wrapper {
  overflow-y: scroll;
  height: 90vh;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#messages li {
}

#messages li.broadcast {
  color: yellow;
}

#messages li.chat {
  color: green;
}

#messages li.echo {
  color: white;
}

#messages li.game {
  color: blue;
}

#messages li.shout {
  color: red;
}

#messages li.whisper {
  color: magenta;
}

#messages li.unknown {
  border: 1px dashed cyan;
}

#message li.error {
  border: 1px dashed firebrick;
  background-color: pink;
  color: firebrick;
  font-weight: bold;
}

/*

#messages li {
  padding: 1vh 1.5vw;
}

#messages li:nth-child(odd) {
  background-color: #pink;
}
*/

#player-map {
  overflow: scroll;
}

#details-wrapper {
  height: 33%;
}

#map-wrapper {
  height: 33%;
}

#inventory-wrapper {
}
