/* For all CSS variables */
:root {
  /* Typefaces/Fonts */
  --xanadu-fonts: 'Nova Mono', Menlo, monospace;
  /* Colors
   *
   * Black
   * Near Black
   * White
   * Grey
   * Red
   * Green
   * Blue
   * Cyan
   * Magenta
   * Yellow
   * Orange
   *
   * Possible alternatives
   * FC3659-C95A89-6EB328-F27004-10BBC7 -- high saturation
   * FCA9B8-C987A3-96B378-F2C6A2-85C3C7 -- low  saturation
   */
  --xanadu-black:       black;
  --xanadu-near-black:  #222;
  --xanadu-white:       white;
  --xanadu-grey:        grey;
  --xanadu-red:         #FF7F7F;
  --xanadu-green:       #63C78D;
  --xanadu-blue:        #7893F0;
  --xanadu-cyan:        #6FA6DE;
  --xanadu-magenta:     #FF7FE1;
  --xanadu-yellow:      #FEE07F;
  --xanadu-orange:      #FFB575;

  --xanadu-hisat-red:     #FC3659;
  --xanadu-hisat-green:   #6EB328;
  --xanadu-hisat-magenta: #C95A89;
  --xanadu-hisat-orange:  #F27004;
  --xanadu-hisat-blue:    #10BBC7;

  --xanadu-losat-red:       #FCA9B8;
  --xanadu-losat-magenta:   #C987A3;
  --xanadu-losat-green:     #96B378;
  --xanadu-losat-orange:    #F2C6A2;
  --xanadu-losat-blue:      #85C3C7;


}

body {
  font-family: var(--xanadu-fonts);
  background-color: var(--xanadu-black);
  color: var(--xanadu-white);
}

#parent-container {
  border: 1px solid var(--xanadu-grey);
  margin-top: 0.5vh;
  width: 99vw;
  height: 99vh;
}

#parent-container > .row{
  height: 100%;
}

#left-half, #right-half {
  height: 95vh;
  padding: 1em;
  height: 100%;
}

#left-half {
  /* for design debugging */
}

#right-half {
  /* for design debugging */
}

#form-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#main-input {
  border: none;
  padding: 1vh 0 1vh 1vw;
  width: 100%;
  outline: none;
  height: 5vh;
  color: var(--xanadu-white);
  background-color: var(--xanadu-near-black);
}

#messages-wrapper {
  overflow-y: scroll;
  height: 90vh;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#messages li {
}

/* MESSAGE TYPE STYLING */
#messages li.Game {
  color: var(--xanadu-blue);
}

#messages li.Echo {
  color: var(--xanadu-white);
}

#messages li.Whisper {
  color: var(--xanadu-magenta);
}

#messages li.Talk {
  color: var(--xanadu-green);
}

#messages li.Shout {
  color: var(--xanadu-red);
}

#messages li.Error {
  color: var(--xanadu-white);
  border: 1px dashed var(--xanadu-red);
  color: var(--xanadu-white);
  font-weight: bold;
}

#messages li.Unknown {
  border: 1px dashed var(--xanadu-grey);
}

/* OLD MESSAGE TYPE STYLING
#messages li.broadcast {
  color: var(--xanadu-yellow);
}

#messages li.game-broadcast {
  color: var(--xanadu-cyan);
}

#messages li.chat {
  color: var(--xanadu-green);
}

#messages li.echo {
  color: var(--xanadu-white);
}

#messages li.game {
  color: var(--xanadu-blue);
}

#messages li.shout {
  color: var(--xanadu-red);
}

#messages li.whisper {
  color: var(--xanadu-magenta);
}

#messages li.unknown {
  border: 1px dashed var(--xanadu-grey);
}

#messages li.error {
  border: 1px dashed var(--xanadu-red);
  background-color: var(--xanadu-magenta);
  color: var(--xanadu-white);
  font-weight: bold;
}

*/

#player-map {
  overflow: scroll;
}

#details-wrapper {
  height: 33%;
}

#inventory-wrapper {
  /* don't constrain the height; this can be as tall as possible */
}

#gold-amount {
  text-align: center;
  color: var(--xanadu-yellow);
}

div.item-box {
 width: 100%;
 margin: 0;
 height: 5vh;
 border-top: 1px solid var(--xanadu-grey);
 /* border-bottom: 1px solid grey; */
}

div.item-box:nth-child(odd) {
  background-color: var(--xanadu-near-black);
}

#items-wrapper {
  overflow: scroll;
}

div.item-condition, div.item-stack {
  padding-bottom: 1em;
  /* XXX: any border? */
}

div.item-condition.good-condition {
  background-color: var(--xanadu-green);
}

div.item-condition.fair-condition {
  background-color: var(--xanadu-orange);
}

div.item-condition.poor-condition {
  background-color: var(--xanadu-red);
}

div.item-stack {
  background-color: var(--xanadu-grey);
}

#map-wrapper {
  height: 33%;
}
