/* For all CSS variables */
:root {
  /* Typefaces/Fonts */
  --xanadu-fonts: 'Nova Mono', Menlo, monospace;

  --xanadu-black:       black;
  --xanadu-near-black:  #222;
  --xanadu-white:       white;
  --xanadu-dark-grey: #404040;
  --xanadu-grey:        grey;
  --xanadu-red:         #FF7F7F;
  --xanadu-green:       #63C78D;
  --xanadu-blue:        #7893F0;
  --xanadu-cyan:        #6FA6DE;
  --xanadu-magenta:     #FF7FE1;
  --xanadu-yellow:      #FEE07F;
  --xanadu-orange:      #FFB575;

  --xanadu-hisat-red:     #FC3659;
  --xanadu-hisat-green:   #6EB328;
  --xanadu-hisat-magenta: #C95A89;
  --xanadu-hisat-orange:  #F27004;
  --xanadu-hisat-blue:    #10BBC7;

  --xanadu-losat-red:       #FCA9B8;
  --xanadu-losat-magenta:   #C987A3;
  --xanadu-losat-green:     #96B378;
  --xanadu-losat-orange:    #F2C6A2;
  --xanadu-losat-blue:      #85C3C7;
}

.col-xs-1 {
  width: 8.333333%;
}

.col-xs-2 {
  width: 16.666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.333333%;
}

.col-xs-5 {
  width: 41.666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.333333%;
}

.col-xs-8 {
  width: 66.666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.333333%;
}

.col-xs-11 {
  width: 91.666667%;
}

.col-xs-12 {
  width: 100%;
}

body {
  font-family: var(--xanadu-fonts);
  background-color: var(--xanadu-black);
  color: var(--xanadu-white);
  display: flex;
  margin: 0 auto;
}

#root-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 0.5vh;
}

#parent-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--xanadu-grey);
  margin: 0 auto;
  width: 99vw;
  height: 99vh;
}

#left-half, #right-half {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
}

#form-wrapper {
  width: 100%;
  border: none;
  padding: 0 0;
  height: 5vh;
  outline: none;
  background-color: var(--xanadu-near-black);    
}

#main-form {
  margin: 1vh 1vw;
}

#main-input {
  width: 100%;
  outline: none;
  color: var(--xanadu-white);
  outline: none;
  font-family: var(--xanadu-fonts);
  background-color: var(--xanadu-near-black);  
  border: none;
  font-size: 1em;
}

#messages-wrapper {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  white-space: pre-line;
  overflow-wrap: break-word;
}

/* TODO: should the font-size be changed globally? */
/* I think 1.10-1.15em might be good */
#messages pre {
  font-size: 1em;
  white-space: pre-line;
}

#messages #logo {
  color: var(--xanadu-red);
  white-space: pre;
}

#messages li pre a, #roster-data div.row a {
  color: var(--xanadu-red);
  text-decoration: underline;
}

#messages li pre a:hover, #roster-data div.row a:hover {
  color: var(--xanadu-near-black);
  background-color: var(--xanadu-red);
  text-decoration: none;
}

#messages a:visited {
  color: var(--xanadu-red);
}

#messages li {
  border-left: 1px solid var(--xanadu-dark-grey);
  border-right: 1px solid var(--xanadu-dark-grey);
  margin: 0.5vh;
  padding: 0 0.5vw;
}

#messages li pre {
  background-color: inherit;
  color: inherit;
  border: none;
  font-family: inherit;
  margin-bottom: 0;
  text-align: inherit;
  border-radius: 0;
  border: none;
}

/* MESSAGE TYPE STYLING */
#messages li.Game {
  color: var(--xanadu-blue);
}

#messages li.Echo {
  color: var(--xanadu-white);
}

#messages li.Whisper {
  color: var(--xanadu-magenta);
}

#messages li.Talk {
  color: var(--xanadu-green);
}

#messages li.Shout {
  color: var(--xanadu-red);
}

#messages li.Error {
  color: var(--xanadu-white);
  border: 1px dashed var(--xanadu-red);
  color: var(--xanadu-white);
  font-weight: bold;
}

#messages li.Unknown {
  border: 1px dashed var(--xanadu-grey);
}

/* RHS PANE STYLING */
#player-info {
  text-align: center;
  border-bottom: 1px solid var(--xanadu-near-black);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  max-height: 15vh;
}

/*
FIXME: Fix the layout of the RHS pane.
#tab-container #tab-navs {
  border-color: var(--xanadu-near-black);
  margin-bottom: 1em;
}

#tab-container #tab-navs li a {
  background-color: var(--xanadu-black);
  border-color: var(--xanadu-near-black);
  color: var(--xanadu-red);
}

#tab-container #tab-navs li a:hover {
  background-color: var(--xanadu-red);
  color: var(--xanadu-near-black);
}

#tab-container #tab-navs li.active {
  border-color: var(--xanadu-red);
}

#tab-container #tab-navs li.active a {
  background-color: var(--xanadu-near-black);
}

#tab-container #tab-navs li.active a:hover {
  color: var(--xanadu-red);
}

#tab-container div.tab-content {
  max-height: 73vh;
  overflow-y: scroll;
  border-color: var(--xanadu-near-black);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding-bottom: 1em;
}
*/

#tab-buttons {
  overflow: hidden;
  border: 1px solid var(--xanadu-grey);
  border-right: none;
  background-color: var(--xanadu-near-black);
  display: flex;
  flex-direction: row;
}

#tab-buttons button {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em 0.75em;
  font-family: var(--xanadu-fonts);
  color: var(--xanadu-white);
  padding: 1em;
  font-size: 1em;
}

#tab-buttons button + button {
  border-right: 1px solid var(--xanadu-grey);
  border-left: 1px solid var(--xanadu-grey);
}

#tab-buttons button:hover {
  background-color: var(--xanadu-red);
  color: var(--xanadu-white);
}

#tab-buttons button.active {
  background-color: var(--xanadu-red);
  color: var(--xanadu-white);
}

#tab-contents {
  overflow: auto;
}

#tab-contents .tab-content {
  display: none;
  padding: 0.3em 0.5em;
  border: 1px solid var(--xanadu-near-black);
  border-top: none;
}

#tab-contents .tab-content.active {
  display: grid;
}

#tab-contents .tab-content .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#roster #roster-header {
  border-bottom: 1px solid var(--xanadu-near-black);
  margin-bottom: 0.75em;
  padding-bottom: 0.25em;
}

#roster-header .row {
  padding: 0 10px;
}

#roster #roster-data div.row {
  margin-bottom: 1em;
  padding: 0 10px;
  font-size: 1.25em;
  word-wrap: break-word;
}

#roster #roster-data div.row.me {
  border-left: 1px solid var(--xanadu-red);
  border-right: 1px solid var(--xanadu-red);
}

/*#roster #roster-data div.row.me div.roster-name::before {
  content: '>';
}*/

#effect-data div.progress {
  background-color: var(--xanadu-black);
}

#effect-data div.progress-bar {
  background-color: var(--xanadu-black);
  border-bottom: 2px solid var(--xanadu-white);
  color: var(--xanadu-white);
}

#player-map {
  overflow: auto;
  background-color: var(--xanadu-black);
  color: var(--xanadu-white);
  border: 1px solid var(--xanadu-near-black);
  min-height: 150px;
}

#player-map span {
  font-size: 1.25em;
  margin: 0.4em;
  padding: 0.1em;
}

#player-map span.SimpleRoom {
  color: var(--xanadu-white);
}

#player-map span.TreasureRoom {
  color: var(--xanadu-yellow);
}

#player-map span.PassageRoom {
  color: var(--xanadu-green);
}

#player-map span.PermanentBarrier {
  color: var(--xanadu-near-black);
}

#player-map span.ExcavatableBarrier {
  color: var(--xanadu-magenta);
}

#player-map span.Unknown {
  color: var(--xanadu-grey);
}

#player-map span.PlayerHere {
  background-color: var(--xanadu-blue);
}

#details-wrapper {
  height: 33%;
}

#inventory-wrapper {
  display: flex;
  flex-direction: column;
}

#gold-row {
  font-weight: bold;
}

#gold-amount {
  text-align: center;
  color: var(--xanadu-yellow);
}

div.item-box {
 width: 100%;
 margin: 0;
 border-top: 1px solid var(--xanadu-grey);
 /* border-bottom: 1px solid grey; */
}

.item-box:last-child {
  border-bottom: 1px solid var(--xanadu-grey);
}

div.item-box:nth-child(odd) {
  background-color: var(--xanadu-near-black);
}

.item-name, .item-data {
  padding-top: 1.33em;
  padding-bottom: 1.33em;
}

.item-name {
  margin-right: 50px;
  text-align: right;
}

.item-data {
  text-align: center;
}

#items-wrapper {
  overflow: auto;
}

div.item-condition, div.item-stack {
  padding-bottom: 1em;
  /* XXX: any border? */
}

div.item-condition.good-condition {
  background-color: var(--xanadu-green);
}

div.item-condition.fair-condition {
  background-color: var(--xanadu-orange);
}

div.item-condition.poor-condition {
  background-color: var(--xanadu-red);
}

div.item-stack {
  background-color: var(--xanadu-dark-grey);
}

#map-wrapper {
  height: 33%;
}
