/* For all CSS variables */
:root {
  /* Typefaces/Fonts */
  --xanadu-fonts: 'Nova Mono', Menlo, monospace;

  --xanadu-black:       black;
  --xanadu-near-black:  #222;
  --xanadu-white:       white;
  --xanadu-grey:        grey;
  --xanadu-red:         #FF7F7F;
  --xanadu-green:       #63C78D;
  --xanadu-blue:        #7893F0;
  --xanadu-cyan:        #6FA6DE;
  --xanadu-magenta:     #FF7FE1;
  --xanadu-yellow:      #FEE07F;
  --xanadu-orange:      #FFB575;

  --xanadu-hisat-red:     #FC3659;
  --xanadu-hisat-green:   #6EB328;
  --xanadu-hisat-magenta: #C95A89;
  --xanadu-hisat-orange:  #F27004;
  --xanadu-hisat-blue:    #10BBC7;

  --xanadu-losat-red:       #FCA9B8;
  --xanadu-losat-magenta:   #C987A3;
  --xanadu-losat-green:     #96B378;
  --xanadu-losat-orange:    #F2C6A2;
  --xanadu-losat-blue:      #85C3C7;
}

body {
  font-family: var(--xanadu-fonts);
  background-color: var(--xanadu-black);
  color: var(--xanadu-white);
}

#parent-container {
  border: 1px solid var(--xanadu-grey);
  margin-top: 0.5vh;
  width: 99vw;
  height: 99vh;
}

#parent-container > .row{
  height: 100%;
}

#left-half, #right-half {
  height: 95vh;
  padding: 1em;
  height: 100%;
}

#form-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#main-input {
  border: none;
  padding: 1vh 0 1vh 1vw;
  width: 100%;
  outline: none;
  height: 5vh;
  color: var(--xanadu-white);
  background-color: var(--xanadu-near-black);
}

#messages-wrapper {
  overflow-y: scroll;
  height: 90vh;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* TODO: should the font-size be changed globally? */
/* I think 1.10-1.15em might be good */
#messages pre {
  font-size: 1em;
}

#messages #logo {
  color: var(--xanadu-red);
  white-space: pre;
}

#messages li pre a, #roster-data div.row a {
  color: var(--xanadu-red);
  text-decoration: underline;
}

#messages li pre a:hover, #roster-data div.row a:hover {
  color: var(--xanadu-near-black);
  background-color: var(--xanadu-red);
  text-decoration: none;
}

#messages a:visited {
  color: var(--xanadu-red);
}

#messages li {
  border-radius: 0;
  border-left: 1px solid var(--xanadu-near-black);
  border-right: 1px solid var(--xanadu-near-black);
  margin-bottom: 0.5vh;
}

#messages li pre {
  background-color: inherit;
  color: inherit;
  border: none;
  font-family: inherit;
  margin-bottom: 0;
  text-align: inherit;
  border-radius: 0;
  border: none;
}

/* MESSAGE TYPE STYLING */
#messages li.Game {
  color: var(--xanadu-blue);
}

#messages li.Echo {
  color: var(--xanadu-white);
}

#messages li.Whisper {
  color: var(--xanadu-magenta);
}

#messages li.Talk {
  color: var(--xanadu-green);
}

#messages li.Shout {
  color: var(--xanadu-red);
}

#messages li.Error {
  color: var(--xanadu-white);
  border: 1px dashed var(--xanadu-red);
  color: var(--xanadu-white);
  font-weight: bold;
}

#messages li.Unknown {
  border: 1px dashed var(--xanadu-grey);
}

/* RHS PANE STYLING */
#player-info {
  text-align: center;
  border-bottom: 1px solid var(--xanadu-near-black);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  height: 15vh;
}

#tab-container #tab-navs {
  border-color: var(--xanadu-near-black);
  margin-bottom: 1em;
}

#tab-container #tab-navs li a {
  background-color: var(--xanadu-black);
  border-color: var(--xanadu-near-black);
  color: var(--xanadu-red);
}

#tab-container #tab-navs li a:hover {
  background-color: var(--xanadu-red);
  color: var(--xanadu-near-black);
}

#tab-container #tab-navs li.active {
  border-color: var(--xanadu-red);
}

#tab-container #tab-navs li.active a {
  background-color: var(--xanadu-near-black);
}

#tab-container #tab-navs li.active a:hover {
  color: var(--xanadu-red);
}

#tab-container div.tab-content {
  max-height: 73vh;
  overflow-y: scroll;
  border-color: var(--xanadu-near-black);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding-bottom: 1em;
}

#roster #roster-header {
  border-bottom: 1px solid var(--xanadu-near-black);
  margin-bottom: 0.75em;
  padding-bottom: 0.25em
}

#roster #roster-data div.row {
  margin-bottom: 1em;
  font-size: 1.25em;
}

#roster #roster-data div.row.me {
  border-left: 1px solid var(--xanadu-red);
  border-right: 1px solid var(--xanadu-red);
}

/*#roster #roster-data div.row.me div.roster-name::before {
  content: '>';
}*/

#player-map {
  overflow: scroll;
}

#details-wrapper {
  height: 33%;
}

#gold-amount {
  text-align: center;
  color: var(--xanadu-yellow);
}

div.item-box {
 width: 100%;
 margin: 0;
 height: 5vh;
 border-top: 1px solid var(--xanadu-grey);
 /* border-bottom: 1px solid grey; */
}

div.item-box:nth-child(odd) {
  background-color: var(--xanadu-near-black);
}

#items-wrapper {
  overflow: scroll;
}

div.item-condition, div.item-stack {
  padding-bottom: 1em;
  /* XXX: any border? */
}

div.item-condition.good-condition {
  background-color: var(--xanadu-green);
}

div.item-condition.fair-condition {
  background-color: var(--xanadu-orange);
}

div.item-condition.poor-condition {
  background-color: var(--xanadu-red);
}

div.item-stack {
  background-color: var(--xanadu-grey);
}

#map-wrapper {
  height: 33%;
}
